@charset "utf-8";
@font-face {
    font-family: idroid;
    src: url("assets/fontes/idroid.otf");
}
@font-face {
    font-family: bebas-neue;
    src: url("assets/fontes/BebasNeue-Regular.ttf");
}

body {
    background-color: #82D9A0;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: linear-gradient(to top, #1B5936, #41D976);
    text-align: center;
    padding: 40px;
}

nav > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 10px 15px 10px 15px;
}

nav > a:hover {
    background-color: #16472b;
}

h1 {
    font-family: bebas-neue, sans-serif;
    font-weight: 50;
    margin: 0px;
    color: white;
    font-size: 60px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

nav {
    background-color: #1B5936;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

article {
    background-color: white;
    margin: auto;
    max-width: 900px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 20px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 10px;
    text-indent: 40px;
    font-size: 20px;
}

h3 {
    font-family: idroid;
    margin: 0;
    padding: 10px;
    font-size: 40px;
    color: #1B5936;
}

h4 {
    font-family: idroid;
    margin: 0;
    padding: 5px 10px;
    font-size: 30px;
    background-image: linear-gradient(to right, #d5f8e4, white);
    color: #1B5936;
}

strong {
    color: #1B5936;
}

aside {
    background-color: #C5EBD6;
    border-radius: 20px;
    padding: 0px 0px 20px 0px;
    margin: 20px;
    overflow: hidden;
}

aside > h3 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2FA866;
    margin: 0px;
    color: white;
}

aside > div {
    display: flex;
}

aside > div > ul {
    width: 50%;
    list-style-type: "✓  ";
}

a#link-externo {
    background-color: #82d9a09f;
    text-decoration: none;
    color: #1B5936;
    font-weight: bold;
}

a#link-externo::after {
    content: "🔗";
}

a#link-externo:hover {
    text-decoration: underline;
}

picture {
    display: flex;
    justify-content: center;
}

#video {
    background-color:#1B5936;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video iframe {
    position: absolute;
    width: 90%;
    height: 90%;
    inset: 0;
    margin: auto;
    border: none;
}

p#rodape {
    text-align: center;
    background-color: #16472b;
    color: white;
    margin-top: 20px;
    padding: 5px;
}

p#rodape > strong {
    color: white;
}